<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, t("error")) %> <%=t('client_not_saved')%>:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control" %>
  </div>
  <%= form.text_field :user_id , type: :hidden, value: current_user.id%>
  <div class="actions">
    <%= form.submit class:"btn btn-success monster-effect-back",style:"width:100%;margin-top:20px;"%>
  </div>
<% end %>